<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="<%= @context[:description] || 'Default description' %>" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/peak.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css"/>
    <title><%= title %></title>
</head>
<body id="page">
    <div id="container">
        <div id="masthead">
            <h1><a href="">Agile Medical Devices Blog</a></h1>
            <h4>Riaan Rottier</h4>
        </div>
        <div id="navbar">
            <div id="tabs">
                <ul id="navlist">
                    <li id="first"><a href="/">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/archives">Archives</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="leftbar">
                <h2>About This Blog</h2>
                <div class="center">
                    <p><img class="border_5px" src="/images/ekke.jpg" width="100" height="140" alt="Photo" /></p>
                    <p>All things agile and especially related to Agile methodologies applied to the medical device industry.  Expect a spattering of systems thinking, theory of constraints and functional programming mixed in.</p>
                </div>
                <div class="center">
		<h2>Posts</h2>
		<ul>
        		<li><a href=""></a></li>
 		</ul>
	    </div>
	    </div>
            <div id="content2">
                <section>
      			<%= yield %> 
    		</section>
            </div>
            <br style="clear: both;" />
        </div>
            <div id="footer">
                <p>
                    <a href="/">Blog</a>&nbsp;&nbsp;|&nbsp;
                    <a href="/about">About</a>&nbsp;&nbsp;|&nbsp;
                    <a href="/archives">Archives</a>&nbsp;&nbsp;|&nbsp;
                </p>
                <p>Copyright &copy; 2010 Riaan Rottier, all rights reserved. Powered by  <a href="http://cloudhead.io/toto">toto</a></p>
            </div>
        </div>
    </div>
<script type="text/javascript">
var disqus_shortname = 'agilemdblog';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/agilemdblog/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
</body>
</html>
